<form [formGroup]="form" (ngSubmit)="submitQuery()">
  <label for="query">Search:</label>
  <input #input id="query" placeholder="e.g. ebike" formControlName="query" />
  <button type="button" (click)="reset()">
    <span aria-hidden="true">&#10005;</span>
    <span class="sr-only">Reset search</span>
  </button>
  <button
    class="px-2 py-1 rounded-md bg-primary text-white"
    type="submit"
    [disabled]="formDisabled">
    @if (formDisabled) {
      Searching...
    } @else {
      Search
    }
  </button>
</form>
